# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Java/Gradle
.gradle/
build/
*.class
*.war

# Node.js
node_modules/
dist/

# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
*.lock
!pubspec.lock

# Logs
*.log

# Environment
.env
.env.local

# Secrets
**/firebase-service-account.json
**/google-services.json
**/*.keystore

# Uploads
uploads/

# Local properties
local.properties

# Misc
Untitled
